<script>
    // top small line chart
    $(document).ready(function() {
      var options1 = {
        chart: {
          type: 'line',
          width: 160,
          height: 35,
          sparkline: {
            enabled: true
          }
        },
        grid: {
          xaxis: {
            lines: {
              show: false
            }
          }
        },
        stroke: {
          width: 3,
          curve: 'smooth',
          colors: ['var(--chart-color1)']
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'dark',
            gradientToColors: ["var(--chart-color2)"],
            shadeIntensity: 1,
            type: 'horizontal',
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 50, 100],
            colorStops: []
          },
        },
        series: [{
          data: [25, 66, 41, 89, 63, 25, 44, 12, 36, 9, 54]
        }],
        tooltip: {
          fixed: {
            enabled: false
          },
          x: {
            show: false
          },
          y: {
            title: {
              formatter: function(seriesName) {
                return ''
              }
            }
          },
          marker: {
            show: false,
          }
        }
      }
      new ApexCharts(document.querySelector("#apexspark-chart1"), options1).render();
      var options2 = {
        chart: {
          type: 'line',
          width: 160,
          height: 35,
          sparkline: {
            enabled: true
          }
        },
        grid: {
          xaxis: {
            lines: {
              show: true
            }
          }
        },
        stroke: {
          width: 3,
          curve: 'smooth',
          colors: ['var(--chart-color2)']
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'dark',
            gradientToColors: ["var(--chart-color3)"],
            shadeIntensity: 1,
            type: 'horizontal',
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 50, 100],
            colorStops: []
          },
        },
        series: [{
          data: [25, 66, 41, 89, 63, 25, 44, 12, 36, 9, 54]
        }],
        tooltip: {
          fixed: {
            enabled: false
          },
          x: {
            show: false
          },
          y: {
            title: {
              formatter: function(seriesName) {
                return ''
              }
            }
          },
          marker: {
            show: false,
          }
        }
      }
      new ApexCharts(document.querySelector("#apexspark-chart2"), options2).render();
      var options3 = {
        chart: {
          type: 'line',
          width: 160,
          height: 35,
          sparkline: {
            enabled: true
          }
        },
        grid: {
          xaxis: {
            lines: {
              show: true
            }
          }
        },
        stroke: {
          width: 3,
          curve: 'smooth',
          colors: ['var(--chart-color3)']
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'dark',
            gradientToColors: ["var(--chart-color4)"],
            shadeIntensity: 1,
            type: 'horizontal',
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 50, 100],
            colorStops: []
          },
        },
        series: [{
          data: [25, 66, 41, 89, 63, 25, 44, 12, 36, 9, 54]
        }],
        tooltip: {
          fixed: {
            enabled: false
          },
          x: {
            show: false
          },
          y: {
            title: {
              formatter: function(seriesName) {
                return ''
              }
            }
          },
          marker: {
            show: false,
          }
        }
      }
      new ApexCharts(document.querySelector("#apexspark-chart3"), options3).render();
      var options4 = {
        chart: {
          type: 'line',
          width: 160,
          height: 35,
          sparkline: {
            enabled: true
          }
        },
        grid: {
          xaxis: {
            lines: {
              show: true
            }
          }
        },
        stroke: {
          width: 3,
          curve: 'smooth',
          colors: ['var(--chart-color1)']
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'dark',
            gradientToColors: ["var(--chart-color2)"],
            shadeIntensity: 1,
            type: 'horizontal',
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 50, 100],
            colorStops: []
          },
        },
        series: [{
          data: [25, 66, 41, 89, 63, 25, 44, 12, 36, 9, 54]
        }],
        tooltip: {
          fixed: {
            enabled: false
          },
          x: {
            show: false
          },
          y: {
            title: {
              formatter: function(seriesName) {
                return ''
              }
            }
          },
          marker: {
            show: false,
          }
        }
      }
      new ApexCharts(document.querySelector("#apexspark-chart4"), options4).render();
      var options = {
        series: [{
          name: 'Revenue',
          type: 'column',
          data: [23, 11, 22, 27, 13, 22, 37, 21, 44, 22, 30, 23]
        }, {
          name: 'Value',
          type: 'area',
          data: [44, 55, 41, 67, 22, 43, 21, 41, 56, 27, 43, 33]
        }, {
          name: 'Expenses',
          type: 'line',
          data: [30, 25, 36, 30, 45, 35, 64, 52, 59, 36, 39, 54]
        }],
        chart: {
          height: 300,
          type: 'line',
          stacked: false,
          toolbar: {
            show: false,
          }
        },
        colors: ['var(--chart-color1)', 'var(--chart-color2)', 'var(--chart-color3)'],
        stroke: {
          width: [0, 2, 5],
          curve: 'smooth'
        },
        plotOptions: {
          bar: {
            columnWidth: '50%'
          }
        },
        fill: {
          opacity: [0.85, 0.25, 1],
          gradient: {
            inverseColors: false,
            shade: 'light',
            type: "vertical",
            opacityFrom: 0.85,
            opacityTo: 0.55,
            stops: [0, 100, 100, 100]
          }
        },
        labels: ['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
        markers: {
          size: 0
        },
        tooltip: {
          shared: true,
          intersect: false,
          y: {
            formatter: function(y) {
              if (typeof y !== "undefined") {
                return y.toFixed(0) + " points";
              }
              return y;
            }
          }
        }
      };
      var chart = new ApexCharts(document.querySelector("#apex-AccountStatistics"), options);
      chart.render();
    });
  </script>